
@page {
  size: A4;
  margin: 20mm;
  margin-top: 10mm;
  margin-bottom: 10mm;
}

section {
  page-break-inside: avoid;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-weight: 400;
  font-size: 12px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  padding-bottom: 2mm;
}

.clause {
  text-align: justify;
  font-size: 8px;
}

.cv h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 45px;
}

.cv h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.cv a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.cv .contact {
  display: flex;
  margin-left: -7mm;
  margin-top: -4mm;
}

.cv .contact .col {
  margin-left: 10mm;
}

.cv .entry {
  display: flex;
  margin: 3mm;
}

.cv .time {
  width: 25%;
  font-weight: bold;
}

.cv .content {
  margin-left: 5mm;
  text-align: justify;
  width: 75%;
}

.cv .content ul {
  margin: -1mm 0;
  padding-left: 3mm;
}

.cv .content li {
  margin: 1mm 0;
}

.cv p {
  text-align: justify;
  margin-left: 3mm;
}

.cv .title {
  width: 25%;
  font-weight: 700;
}

.cv .content-title {
  margin-bottom: 2mm;
  font-weight: 700;
}

.cv .content-title .description {
  font-weight: 700;
  font-style: italic;
  color: black;
}

